/* Navigation  */
nav a{
    text-decoration: none;
    color: black;
    font-size: 1.0em;
    margin-right: 25px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 80%;
    margin-left: 150px;
}

/* Body  */

body{
    margin: 0px;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    background-color: whitesmoke;
}

main{
   
    padding: 150px;
    padding-top: 50px;
}

main h1{
    font-size: 40px;
}
main p{
    font-size: 14px;
}

.flex-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 100px;
    align-items: center;
    justify-content: space-between;
    justify-items: center;
    
}

.link-button{
    text-decoration: none;
    background-color: #ff1764;
    color: white;
    font-weight: 500;
    font-size: 20px;
    margin-top: 10px;
    padding: 5px 40px;
    border-radius: 40px;
}

/* Logo  */
.logo{
    display: flex;
    grid-template-columns: repeat(7, 1fr);
    justify-content: space-between;
    padding: 20px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}



/*----------------
 Collection 
 ---------------*/
.collection{
     margin-top: 100px;
 }

.section-title{
    text-align: center;
 }

.items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    background-color: whitesmoke; 
}

.item{

    border-radius: 5px;
    background-color: white;
    padding: 15px;
}
.item-banner{
    align-content: center;
}
.item img{
    height: 256px;
    width: 300px;
    border-radius: 5px;

}
.item-info{
    display: flex;
    align-items: center;
    justify-content: start;
    size: 14px;
}
.iteminfo{
    size: 10px;
}
.price{
    margin: 0%;
}
.fa-sta{
    font-size: 12px;
}
.fa-star.field{
    color: #ffc014;
}
.fa-star.empty{
    color: #858072;
}

.link-collection{
    display: flex;
    justify-content: end;
    text-decoration: none;
    font-weight: 400;
    margin-top: 30px;  
}

.link-button1{
    text-decoration: none;
    font-weight: 500;
    font-size: 25px;
    color: chocolate;
}


/* Customers */

.customers{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;

}
h2{
    text-align: center;
}

.customer-id{
    padding: 20px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.customer-id img{
    height: 200px;
    width: 200px;
    border-radius: 5px;
}

.customer-id p{
    font-size: 12px;
    font-weight: 100;
}

.isa_info{
    margin-top: 30px;
}

/* Footer  */

footer {
    text-align: center;
    justify-content: center;
    padding: 5px;
    background-color: #0A043C;
    color: #fff;
}
.myMision{
    text-align: center;
    width: 100%;
}
.footer-icon{
    margin-top: 0px;
}
.footer-icons{
    margin-top: 0;
    font-size: 30px;
    padding-left: 15px;
}


/* Mobile Divices
 ----------- */

 @media only screen and  (max-width: 688px){
    nav a{
        margin-right: 5px;
    }
    nav{
        height: 40px;
        width: 100%;
        margin-left: 15px;
    }
    
    main{
        padding: 10px;
        padding-top: 30px;
    }
    .navigation{
        width: 100%;
    }

    .flex-container{
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 50px;
        align-items: center;   
        justify-content: center;     
    }
    .logo{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: space-between;
        padding: 0px;
        background-color: white;
    }
    .items{  
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
    }
    footer{
        align-content: center;
    }
    .influencer{
        max-width: 688px;
    }
    .customers{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
    }
}


/* Tablate diveces 
 */
 @media only screen and (min-width: 688px) and (max-width: 992px){
    nav a{
        margin-right: 15px;
    }
    nav{
        height: 40px;
        width: 100%;
        margin-left: 15px;
    }
    
    main{
        padding: 20px;
        padding-top: 30px;
    }
    .navigation{
        width: 100%;
    }

    .flex-container{
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 50px;
        align-items: center;        
    }
    .logo{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: space-between;
        padding: 0px;
        background-color: white;
    }
    .items{  
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }
    footer{
        align-content: center;
    }
 }

